os: linux
dist: xenial
language: python
env: TOXENV=py,codecov

matrix:
  fast_finish: true
  include:
    - python: 2.7
      env: TOXENV=py,py27-lowest,codecov
    - python: 3.5
    - python: 3.6
    - python: 3.7
      env: TOXENV=py,py37-lowest,codecov
    - python: 3.7
      env: TOXENV=docs
    - python: nightly
    - python: pypy3.5-6.0
  allow_failures:
    # Why test these at all if they aren't going to fail the build?  Answered at:
    # https://github.com/pallets/flask-sqlalchemy/issues/689
    - python: nightly
    - python: pypy3.5-6.0

install:
  - pip install -U tox

script:
  - tox --skip-missing-interpreters false

cache:
  directories:
    - $HOME/.cache/pip
    - $HOME/.cache/pre-commit

branches:
  only:
    - master
    - /^\d+(\.\d+)*(\.x)?$/

notifications:
  email: false
